{% extends "base.html" %}
{% block title %}
 {{ post.title }} | {{ post.location.name }} | {{ post.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
  <article>
    <p>{{ post.pub_date|date:"d E Y" }} | {% if post.location %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
      <small>От автора @{{ post.author.username }} в категории {% include "includes/category_link.html" %}</small></p>
    <h3>{{ post.title }}</h3>
    {% if post.image %}
      <img class="mb-3" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
    {% if user == post.author %}
      <div class="mb-2">
        <a class="btn btn-sm text-muted" href="{% url 'blog:edit_post' post.id %}" role="button">
          Отредактировать публикацию
        </a>
        <a class="btn btn-sm text-muted" href="{% url 'blog:delete_post' post.id %}" role="button">
          Удалить публикацию
        </a>
      </div>
    {% endif %}
    {% include "includes/comments.html" %}
  </article>
{% endblock %}